bs4-accordion .card {
	position: relative;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
background-color: #fff;
border: 1px solid rgba(0, 0, 0, .125);
border-radius: .25rem
}
bs4-accordion .card-header {
	padding: .75rem 1.25rem;
margin-bottom: 0;
background-color: #f7f7f9;
border-bottom: 1px solid rgba(0, 0, 0, .125)
}
bs4-accordion .card-header:first-child {
	border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}
bs4-accordion .collapse {
	display: none
}
bs4-accordion .collapse.show {
	display: block
}
