<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman.css">
 <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
  
  <script>
	(function () {
		if ('registerElement' in document
			&& 'import' in document.createElement('link')
			&& 'content' in document.createElement('template')) {
			// platform is good!
		} else {
			// polyfill the platform!
			var e = document.createElement('script');
			e.src = 'https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.24/webcomponents-lite.min.js';
			document.head.appendChild(e);
		}
	})();		
  </script>
  <link rel="import" href="{{ site.baseurl }}/assets/dist/html/dgt41-accordion.html">
	<link rel="import" href="{{ site.baseurl }}/assets/dist/html/dgt41-alert.html">
	<link rel="import" href="{{ site.baseurl }}/assets/dist/html/dgt41-button.html">
	<link rel="import" href="{{ site.baseurl }}/assets/dist/html/dgt41-carousel.html">
	<link rel="import" href="{{ site.baseurl }}/assets/dist/html/dgt41-collapse.html">
	<link rel="import" href="{{ site.baseurl }}/assets/dist/html/dgt41-dropdown.html">
	<link rel="import" href="{{ site.baseurl }}/assets/dist/html/dgt41-modal.html">
	<link rel="import" href="{{ site.baseurl }}/assets/dist/html/dgt41-tabs.html">
	<link rel="import" href="{{ site.baseurl }}/assets/dist/html/dgt41-tooltip.html">
</head>