<section class="page-header">
  <h1><a class="h1-name" href="https://dgt41.github.io/bs4-custom-elements/">{{ site.title }}</a></h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="{{ site.baseurl }}/alert-demo.html" class="btn">Alert</a>
  <a href="{{ site.baseurl }}/button-demo.html" class="btn">Button</a>
  <a href="{{ site.baseurl }}/accordion-demo.html" class="btn">Accordion WIP</a>
  <a href="{{ site.baseurl }}/carousel-demo.html" class="btn">Carousel WIP</a>
  <a href="{{ site.baseurl }}/collapse-demo.html" class="btn">Collapse WIP</a>
  <a href="{{ site.baseurl }}/modal-demo.html" class="btn">Modal WIP</a>
  <a href="{{ site.baseurl }}/tabs-demo.html" class="btn">Tabs WIP</a>
  <a href="{{ site.baseurl }}/dropdown-demo.html" class="btn">Dropdown WIP</a>
  <a href="{{ site.baseurl }}/tooltip-demo.html" class="btn">Tooltip WIP</a>
  <a href="https://github.com/dgt41/bs4-custom-elements" class="btn">View on GitHub</a>
</section>