<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://dgt41.github.io/bs4-custom-elements/" class="btn btn-block">Home</a>
  <a href="{{ site.baseurl }}/alert-demo.html" class="btn">Alert</a>
  <a href="{{ site.baseurl }}/button-demo.html" class="btn">Button</a>
  <a href="{{ site.baseurl }}/carousel-demo.html" class="btn">Carousel</a>
  <a href="https://github.com/dgt41/bs4-custom-elements" class="btn btn-block">View on GitHub</a>
</section>