<!DOCTYPE html>
<html lang="en-us">
  
  {% include head.html %}

  <body>

    {% include page-header.html %}

    <section class="main-content">
		<h2>Dropdown</h2>

		<bs4-dropdown class="dropdown" style="display: block;">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
			</div>
		</bs4-dropdown>

		<hr>


	<script>
		// Toggle single
	// var toggleButton = document.getElementById('toggler');

	// toggleButton.addEventListener('click', function () {
	// 	var changeButtons = document.querySelectorAll('#toggle-button > .btn');
	// 	for (var i = 0, l = changeButtons.length; i < l; i++) {
	// 		if (changeButtons[i].id !== 'toggler')
	// 		//Toggle each button
	// 		changeButtons[i].toggle();
	// 	}
	// });
	</script>

      {% include page-footer.html %}

    </section>

  </body>
</html>
