<!DOCTYPE html>
<html lang="en-us">
  
  {% include head.html %}

  <body>
  	<style>

	</style>
    {% include page-header.html %}

    <section class="main-content">
		<h2>Tabs Demo</h2>

		<dgt41-tabs>
			<div class="bd-example bd-example-tabs" role="tabpanel">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-expanded="true">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active   " id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">Profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="dropdown-tab" data-toggle="tab" href="#dropdown1" role="tab" aria-controls="dropdown1">Other</a>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div role="tabpanel" class="tab-pane fade show active" id="home" aria-labelledby="home-tab">
						<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master
							cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
							synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan
							aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
					</div>
					<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
						<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit,
							blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth
							letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic,
							assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore
							stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry
							richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo
							park.
						</p>
					</div>
					<div class="tab-pane fade" id="dropdown1" role="tabpanel" aria-labelledby="dropdown1-tab">
						<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi
							farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy
							salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg
							banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably
							haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
					</div>
				</div>
			</div>
		</dgt41-tabs>

		<hr>


	<script>
		// Toggle single
	// var toggleButton = document.getElementById('toggler');

	// toggleButton.addEventListener('click', function () {
	// 	var changeButtons = document.querySelectorAll('#toggle-button > .btn');
	// 	for (var i = 0, l = changeButtons.length; i < l; i++) {
	// 		if (changeButtons[i].id !== 'toggler')
	// 		//Toggle each button
	// 		changeButtons[i].toggle();
	// 	}
	// });
	</script>

      {% include page-footer.html %}

    </section>

  </body>
</html>
